.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  color: black;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  color: black;
}
.button-scroll-top {
  background-color: red;
  color: black;
  border: 2px solid black;
}
